html {
    height: 100%;
    cursor: default;
}

body {
    height: 100vh;
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    background: linear-gradient(-45deg, #b72df7, #8c2afc, #23a6d5, #23d5ab);
    background-size: 400%;
	animation: gradient 30s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.hidden {
    display: none;
}

@keyframes gradient {
    0% {background-position: 0% 50%}
    50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}

#start-screen {  
    text-align: center;
    cursor: pointer;
}

#start-screen img {
    display: block;
    width: 70vmin;
    max-width: 500px;
    height: auto;
    transition: 0.2s;
}

#start-screen a {
    font-size: 2em;
    color: rgb(64,67,68);
    font-weight: bold;
    box-shadow: inset 0 0 0 0 white;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#start-screen:hover a {  
    color:white;
    padding: 5px;
    box-shadow: inset 300px 0 0 0 #313131;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

header {
    letter-spacing: 1px;
    font-size: 3vmin;
    text-align: center;
    margin-top: -10vmin;
    margin-bottom: 1vmin;
    color: white;
}

#game {
    height: 65vmin;
    width: 70vmin;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 2%;
}

#game-grid {
    height: 95%;
    width: 95%;
    display: grid;
    justify-items: center;
    align-items: center;
    max-width: 100%; 
    margin: auto;
}

.cell {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

}

.cell:hover {
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.4);

}

div[data-opened="blank"]:not(#game-grid) {
    background-color: rgba(182, 213, 253, 0.5);
}

div[data-opened="opened-mine"] {
    background-color: rgba(255, 0, 0, 0.5);
}

div[data-opened="mine"] {
    background-color: rgba(255, 255, 255, 0.2);
}

div[data-opened="number"] {
    background-color: rgba(75, 198, 255, 0.5);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

#details {
    display: flex;
    justify-content: space-around;
    color: white;
    letter-spacing: 1px;
    padding: 1vmin;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0.8vmin;
}

#help:hover {
    cursor: pointer;
}

#buttons {
    display: flex;
    justify-content: space-around;
}

.button {
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    color: white;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 1.6vmin 1vmin;
    transform: translateZ(0);
    transition: filter .2s;
    width: 30vmin;
    max-width: 170px;
    margin: 2px;
}

.button:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button:hover {
    filter: brightness(1.1);
}

.popup {
    position: fixed;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vmin;
}

.popup.fade-in {
    visibility: visible;
}

.popup-content {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2vmin;
    border-radius: 5px;
}

#time-record {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: black;
}

#time-record > span {
    font-size: 3vmin;
    margin: 0 0 0 5px;
}

#time-record > img {
    display: center;
    height: 4vmin;
    width: auto;
    text-align: center;
}

.popup h2 {
    margin-top: 0;
}

.popup p {
    margin-bottom: 10px;
}

#help-popup {
    width: 40vmin;
}
  
footer {
    position: fixed;
    top: 97%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 12px;
    padding: 2px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.animation-wrapper :nth-child(1) {
    height: 40vmin;
	animation: float 6s ease-in-out infinite;
	position: absolute;
    bottom: 10%;
    left: 75%;
}

.animation-wrapper :nth-child(2) {
    height: 35vmin;
    rotate: -20deg;
	animation: float 9s ease-in-out infinite;
	position: absolute;
    top: 10%;
    right: 80%;
}

@keyframes float {
    0% {
    transform: translate(0,0) rotate(-10deg);
    }
    50% {
    transform: translate(20px,20px) rotate(0deg);
    }
    100% {
    transform: translate(0,0) rotate(-10deg);
    }
}